
<!-- nav -->
<div class="main-container">
<nav >
    <div class="main-header"> View and Upload Images </div>
    <div class="navbar-nav">
        <button class="nav-item image-list" routerLink="/imageList"> View Images </button>
        <button class="nav-item" routerLink="/uploadImage">Upload Image</button>
    </div>
</nav>
<!-- main content container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

</div>

